@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

:root {
  --bg: #fdffff;
  --logo-title-h2: #1d1d1d;
  --site-btn: #377dff;
  --main-hero-text: #464646;
  --site-btns: #377dff;
  --site-btns-t: #ffffff;
  --price-bg: #FFFFFF;
  --item-border: #0000001a;
  --item-hover: #ffffff;
  --btn-play: url("../images/svg/play-circle.svg");
  --arrow-1: url("../images/svg/arrow-right.svg");
  --item-1: url("../images/svg/monitor.svg");
  --item-1-color: #377DFF;
  --item-2: url("../images/svg/settings.svg");
  --item-2-color: #FF2D2D;
}

.dark {
  --bg: #0e0e0e;
  --logo-title-h2: #e2e2e2;
  --site-btn: #e2e2e2;
  --main-hero-text: #e2e2e2;
  --site-btns: #e2e2e2;
  --site-btns-t: #0d0d0d;
  --price-bg: #0d0d0d;
  --item-border: #FFFFFF1A;
  --item-hover: #0B0F15;
  --btn-play: url("../images/svg/play-circle-dark.svg");
  --arrow-1: url("../images/svg/arrow-right-dark.svg");
  --item-1: url("../images/svg/monitor-dark.svg");
  --item-1-color: #E2E2E2;
}

html {
  background: var(--bg);
}

header {
  padding: 72px 0 68px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .site__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container .site__logo-img {
  display: flex;
  width: 53px;
  height: 50px;
  flex-shrink: 0;
}
header .container .site__logo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .site__logo-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
header .container .site__logo-text h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
}
header .container .site__logo-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
}
header .container .site__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .container .site__nav-link a {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
  transition: 0.3;
}
header .container .site__nav-link a:hover {
  font-weight: 700;
}
header .container .site__button-btn {
  display: flex;
  border: 1px solid var(--site-btn);
  background: none;
  padding: 12px 50px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: var(--site-btn);
}

.main__hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__hero-title {
  width: 750px;
}
.main__hero-title h2 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  color: var(--logo-title-h2);
  text-align: center;
}
.main__hero-text {
  width: 767px;
}
.main__hero-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  color: var(--main-hero-text);
  text-align: center;
  padding: 24px 0 32px;
}
.main__hero-button button {
  border: none;
  border-radius: 24px;
  padding: 12px 50px;
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5019607843);
  background: var(--site-btns);
  color: var(--site-btns-t);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
.main__hero-img {
  width: 740px;
  height: 500px;
  display: flex;
  position: relative;
  margin: 96px 0 56px;
}
.main__hero-img img {
  border-radius: 50px;
  display: flex;
  width: 100%;
  height: 100%;
}
.main__hero-img-price, .main__hero-img-comt {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 11px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1490196078);
  background: var(--bg);
  border-radius: 16px;
}
.main__hero-img-price {
  padding: 15px 31px 16px 20px;
  left: -107px;
  top: 24px;
}
.main__hero-img-price-star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.main__hero-img-price-star span {
  display: flex;
  width: 20px;
  height: 20px;
  background: url("../images/svg/star.svg") center/contain no-repeat;
}
.main__hero-img-price-star p {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
  text-transform: uppercase;
  opacity: 0.8;
}
.main__hero-img-price-num h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  color: var(--logo-title-h2);
}
.main__hero-img-price-num h2 span {
  font-weight: 700;
}
.main__hero-img-comt {
  padding: 27px 20px 25px 21px;
  bottom: -7px;
  right: -107px;
}
.main__hero-img-comt-peop {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__hero-img-comt-peop img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}
.main__hero-img-comt-peop .pep {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.main__hero-img-comt-peop .pep-h {
  display: flex;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
}
.main__hero-img-comt-peop .pep-p {
  font-weight: 600;
  font-size: 6px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
  opacity: 0.8;
}
.main__hero-img-comt-text {
  display: flex;
  width: 125px;
}
.main__hero-img-comt-text .peop-text {
  width: 125px;
  text-align: justify;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  color: var(--logo-title-h2);
}
.main__hero-img .vec-1 {
  position: absolute;
  top: 184px;
  left: -7%;
  display: flex;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
}
.main__hero-img .vec-2 {
  position: absolute;
  top: -18px;
  right: -126px;
  display: flex;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377dff 100%);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.0509803922);
}
.main .about {
  padding: 150px 0;
}
.main .about .container {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.main .about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.main .about__title .sub-title {
  color: var(--site-btn);
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1%;
}
.main .about__title .title {
  color: var(--logo-title-h2);
  font-weight: 700;
  font-size: 55px;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
}
.main .about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
}
.main .about__wrap-img {
  display: flex;
  width: 565px;
  height: 402px;
  flex-shrink: 0;
}
.main .about__wrap-img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .about__wrap-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .about__wrap-info .p {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .about__wrap-info .p p {
  color: var(--main-hero-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1%;
}
.main .about__wrap-info-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.main .about__wrap-info-btns #about-as-btn {
  border: none;
  border-radius: 24px;
  padding: 12px 50px;
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5019607843);
  background: var(--site-btns);
  color: var(--site-btns-t);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
.main .about__wrap-info-btns #our-s-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 50px;
  border-radius: 24px;
  gap: 10px;
  background: none;
  border: 1px solid var(--site-btn);
  cursor: pointer;
}
.main .about__wrap-info-btns #our-s-btn span {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--btn-play);
}
.main .about__wrap-info-btns #our-s-btn p {
  color: var(--site-btn);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
}
.main__services .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__services-info {
  display: flex;
  flex-direction: column;
  max-width: 520px;
}
.main__services-info .sub-title {
  color: var(--site-btn);
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1%;
}
.main__services-info .title {
  color: var(--logo-title-h2);
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3;
  font-family: "Nunito", sans-serif;
  width: 419px;
  padding: 32px 0 18px;
}
.main__services-info .text {
  color: var(--main-hero-text);
  opacity: 0.8;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  width: 520px;
  letter-spacing: 1%;
}
.main__services-info .read-more {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 36px;
  gap: 16px;
}
.main__services-info .read-more p {
  color: var(--site-btn);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1%;
}
.main__services-info .read-more span {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--arrow-1);
}
.main__services-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px 41px;
}
.main__services-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 262px;
  height: 269px;
  border-radius: 30px;
  padding: 35px 53px;
  gap: 32px;
  background: var(--bg);
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1019607843);
  border: 1px solid var(--item-border);
  transition: 0.1s;
}
.main__services-items .item:hover {
  background: var(--item-hover);
}
.main__services-items .item-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__services-items .item-img span {
  display: flex;
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__services-items .item-img:nth-child(1) {
  background: var(--item-1-color);
}
.main__services-items .item-img:nth-child(1) span {
  background: var(--item-1);
}
.main__services-items .item-img:nth-child(2) {
  background: var(--item-2-color);
}
.main__services-items .item-img:nth-child(2) span {
  background: var(--item-2);
}
.main__services-items .item-title {
  color: var(--logo-title-h2);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  letter-spacing: 1%;
}/*# sourceMappingURL=main.css.map */