@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

:root {
  --logo-title-h2: #1d1d1d;
  --site-btn: #377dff;
  --main-hero-text: #464646;
  --site-btns: #377dff;
  --site-btns-t: #ffffff;
  --price-bg: #FFFFFF;
}

.dark {
  --logo-title-h2: #e2e2e2;
  --site-btn: #e2e2e2;
  --main-hero-text: #e2e2e2;
  --site-btns: #e2e2e2;
  --site-btns-t: #0d0d0d;
  --price-bg: #0d0d0d;
}

header {
  padding: 72px 0 68px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .site__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container .site__logo-img {
  display: flex;
  width: 53px;
  height: 50px;
  flex-shrink: 0;
}
header .container .site__logo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .site__logo-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
header .container .site__logo-text h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
}
header .container .site__logo-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
}
header .container .site__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .container .site__nav-link a {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
  transition: 0.3;
}
header .container .site__nav-link a:hover {
  font-weight: 700;
}
header .container .site__button-btn {
  display: flex;
  border: 1px solid var(--site-btn);
  background: none;
  padding: 12px 50px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: var(--site-btn);
}

.main__hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__hero-title {
  width: 750px;
}
.main__hero-title h2 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  color: var(--logo-title-h2);
  text-align: center;
}
.main__hero-text {
  width: 767px;
}
.main__hero-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  color: var(--main-hero-text);
  text-align: center;
  padding: 24px 0 32px;
}
.main__hero-button button {
  border: none;
  border-radius: 24px;
  padding: 12px 50px;
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5019607843);
  background: var(--site-btns);
  color: var(--site-btns-t);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}
.main__hero-img {
  width: 740px;
  height: 500px;
  display: flex;
  position: relative;
  margin: 96px 0 56px;
}
.main__hero-img img {
  border-radius: 50px;
  display: flex;
  width: 100%;
  height: 100%;
}
.main__hero-img-price {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 11px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1490196078);
  background: #fff;
  border-radius: 16px;
}
.main__hero-img-price {
  padding: 15px 31px 16px 20px;
  left: -107px;
  top: 24px;
}
.main__hero-img-price-star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.main__hero-img-price-star span {
  display: flex;
  width: 20px;
  height: 20px;
  background: url("../images/svg/star.svg") center/contain no-repeat;
}
.main__hero-img-price-star p {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  font-family: "Quicksand", sans-serif;
  color: var(--logo-title-h2);
  text-transform: uppercase;
  opacity: 0.8;
}
.main__hero-img-price-num h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  color: var(--logo-title-h2);
}
.main__hero-img-price-num h2 span {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */