:root {
  --bg: #fdffff;
  --logo-title-h2: #1d1d1d;
  --site-btn: #377dff;
  --main-hero-text: #464646;
  --site-btns: #377dff;
  --site-btns-t: #ffffff;
  --price-bg: #FFFFFF;
  --item-border: #0000001a;
  --item-hover: #ffffff;
  --footer-logo: #ffffff;
  --item-box-shadow: 0px 8px 24px 0px #0000000D;

  --btn-play: url("../images/svg/play-circle.svg") center/contain no-repeat;
  --arrow-1: url("../images/svg/arrow-right.svg");

  --item-1: url("../images/svg/monitor.svg");
  --item-1-color: #377DFF;

  --item-2: url("../images/svg/settings.svg");
  --item-2-color: #FF2D2D;

  --item-3: url("../images/svg/pen-tool.svg");
  --item-3-color: #7CE761;

  --item-4: url("../images/svg/tv.svg");
  --item-4-color: #FFA800;
}

.dark {
  --bg: #0e0e0e;
  --logo-title-h2: #e2e2e2;
  --site-btn: #e2e2e2;
  --main-hero-text: #e2e2e2;
  --site-btns: #e2e2e2;
  --site-btns-t: #0d0d0d;
  --price-bg: #0d0d0d;
  --item-border: #FFFFFF1A;
  --item-hover: #0B0F15;
  --footer-logo: #e2e2e2;
  --item-box-shadow: 0px 8px 24px 0px #A3A3A30D;

  --btn-play: url("../images/svg/play-circle-dark.svg") center/contain no-repeat;
  --arrow-1: url("../images/svg/arrow-right-dark.svg");

  --item-1: url("../images/svg/monitor-dark.svg");
  --item-1-color: #E2E2E2;

  --item-2: url("../images/svg/settings-dark.svg");
  --item-2-color: #FF4646;

  --item-3: url("../images/svg/pen-tool-dark.svg");
  --item-3-color: #8EEA77;

  --item-4: url("../images/svg/tv-dark.svg");
  --item-4-color: #FFB21A;
}

html{
  background: var(--bg);
}